@import url(./global.css);

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

.main--QuesCard1,
.main--QuesCard2,
.main--QuesCard3,
.main--QuesCard4 {
  position: relative;
  background-color: #e9b0df;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: solid 1px black;
  border-radius: 20px;
  margin: 40px;
  padding: 15px;
  transition: background-color 1s ease, box-shadow 0.5s ease,
    transform 0.5s ease;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  transform: translateX(-20px);
}

.main--QuesCard1:hover,
.main--QuesCard2:hover,
.main--QuesCard3:hover,
.main--QuesCard4:hover {
  background-color: palevioletred;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transform: translateX(0);
}

.main--QuesCard-Button {
  background-color: #adeecf;
  padding: 10px;
  font-weight: bolder;
  font-size: larger;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.main--QuesCard-Button:hover {
  background-color: #69d2a6;
  transform: scale(1.1);
}

.main--QuesCard1--AnsTag {
  width: 80vw;
  display: flex;
  list-style: none;
  justify-content: left;
  padding-left: 5px;
  flex-wrap: wrap;
}
.main--QuesCard1--AnsTag li {
  display: flex;
  border: solid 1px black;
  background-color: #e8efeb;
  padding: 10px;
  font-weight: bolder;
  margin: 2px;
}

.main--QuesCard1--bookmark,
.main--QuesCard2--bookmark,
.main--QuesCard3--bookmark,
.main--QuesCard4--bookmark {
  width: 40px;
  position: absolute;
  top: -10px;
  right: 20px;
}

.hidden {
  display: none;
}
